<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-sm bg-gray-800 p-8 rounded-2xl shadow-lg border-cyan-600 border-2">

        <h2 class="text-2xl font-bold text-cyan-600 text-center mb-6">
            Login
        </h2>

        <form class="space-y-5">
            <div>
                <label class="block text-sm font-medium text-white">Email</label>
                <input type="email" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-xl 
                 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent"
                    placeholder="you@example.com" />
            </div>

            <div>
                <label class="block text-sm font-medium text-white">Passwort</label>
                <input type="password" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-xl 
                 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent"
                    placeholder="••••••••" />
            </div>

            <button type="submit" class="w-full bg-cyan-600 text-white py-2 rounded-xl font-semibold
               hover:bg-cyan-500 transition-all">
                Login
            </button>
            <button type="submit" class="w-full bg-cyan-600 text-white py-2 rounded-xl font-semibold
               hover:bg-cyan-500 transition-all">
                Guest
            </button>

            <p class="text-center text-sm text-white mt-4">
                Noch kein Konto?
                <a href="#" class="text-cyan-600 hover:underline">Registrieren</a>
            </p>
        </form>
    </div>
</div>