<div clas="w-full h-full  ">
    <div class="flex items-center justify-between bg-gray-800 rounded-tl-xl rounded-tr-xl p-2">
        <!-- Left side: Titel -->
        <h2 class="text-3xl font-bold text-cyan-50">Customers</h2>
        <!--Button: Add a new customer -->
        <button
            class="bg-gray bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-cyan-400">Add
            a new customer</button>
        <!-- Right side: Searchfield + Dropdown -->
        <div class="flex space-x-4">
            <!-- Searchfield -->
            <input type="text" placeholder="Search..."
                class="px-3 py-2 rounded-md bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-cyan-400" />
            <!-- Dropdown -->
            <select
                class="px-3 py-2 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400">
                <option value="">Filter</option>
                <option value="new">New</option>
                <option value="returning">Returning</option>
                <option value="vip">VIP</option>
            </select>
        </div>
    </div>
</div>